## --- Environment variable --- ##
ENV=LOCAL
DEBUG=false
# TZ=UTC
# PYTHONDONTWRITEBYTECODE=1


## -- API configs -- ##
HFP_CHALLENGE_API_PORT=10001
# HFP_CHALLENGE_API_CONFIGS_DIR="/etc/historical_fingerprinter"
# HFP_CHALLENGE_API_LOGS_DIR="/var/log/historical_fingerprinter"
# HFP_CHALLENGE_API_DATA_DIR="/var/lib/historical_fingerprinter"
# HFP_CHALLENGE_API_TMP_DIR="/tmp/historical_fingerprinter"
# HFP_CHALLENGE_API_VERSION="1"
# HFP_CHALLENGE_API_PREFIX=""
# HFP_CHALLENGE_API_DOCS_ENABLED=true
# HFP_CHALLENGE_API_DOCS_OPENAPI_URL="{api_prefix}/openapi.json"
# HFP_CHALLENGE_API_DOCS_DOCS_URL="{api_prefix}/docs"
# HFP_CHALLENGE_API_DOCS_REDOC_URL="{api_prefix}/redoc"

HFP_CHALLENGE_API_KEY="your_api_key_here" # pragma: allowlist secret
HFP_CHALLENGE_ACCEPTABLE_MISS_COUNT=10
HFP_CHALLENGE_SINGLE_REQUEST_TIMEOUT=0.5
HFP_CHALLENGE_FINGERPRINTER_PORT=10002
